<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title> ssearch96 </title>
    <link rel="shortcut icon" href="{{url_for('static', filename='favicon.ico')}}">
    <link href="favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  </head>
  <body>
    <script>
      function redirectToQueryUrl() {
        var base = "{{url_for('search')}}";
        var query = document.getElementById("userQuery").value;
        query = query.replace(/\&/g, "%26");
        location.href = base.concat("?query=", query);
      }
    </script>
    <style>
    .centeredBlock {
       margin: 0;
      position: absolute;
      top: 50%;
      left: 50%;
      margin-right: -50%;
      transform: translate(-50%, -50%)
    }
    body {
      background-image: url({{url_for('static', filename='background.gif')}});
      background-size: cover;
    }
    </style>
    <p><h1 style="text-align:center"> Ssearch96 </h1></p>
    <div class="centeredBlock">
      <form onsubmit="redirectToQueryUrl();" action="javascript:void(0);">
        <p>
          <input id="userQuery" size="50" placeholder="Искать здесь...">
          <button type="button" value="Найти" onClick="redirectToQueryUrl()" ></button>
        </p>
      </form>
    </div>
  </body>
</html>