<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title> {{query}} - ssearch96 </title>
    <link rel="shortcut icon" href="{{url_for('static', filename='favicon.ico')}}">
    <link href="favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  </head>
  <body>
    <script>
      function redirectToQueryUrl(offset) {
        var base = "{{url_for('search')}}";
        var query = document.getElementById("userQuery").value;
        query = query.replace(/\&/g, "%26");
        location.href = base.concat("?query=", query, '&offset=', offset);
      }
    </script>
    <style>
    body {
      background-color: #F9CFAA;
      /*background-size: cover;*/
    }
    </style>
    <form onsubmit="redirectToQueryUrl(0);" action="javascript:void(0);">
      <p>
        <input id="userQuery" size="50" value="{{query}}">
        <button type="button" value="Найти" onClick="redirectToQueryUrl(0)" ></button>
      </p>
    </form>
    <h3>Результаты по запросу {{query}} ({{total}} документов, {{tim}} cек.)</h3>
    {% for head, id in search_result %}
      <h3> <a target="_blank" href="https://ru.wikipedia.org/wiki?curid={{id}}">{{head}}</a> </h3>
    {% endfor %}
    <p>
      <input type="button" value="<= Туда" onClick="redirectToQueryUrl({{offset - 50}})">
      <input type="button" value="Сюда =>" onClick="redirectToQueryUrl({{offset + 50}})">
    </p>
  </body>
</html>