<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title> {{query}} - ssearch96 </title>
    <link rel="shortcut icon" href="{{url_for('static', filename='favicon.ico')}}">
  </head>
  <body>
    <script>
      function redirectToQueryUrl(offset) {
        var base = "{{url_for('search')}}";
        var query = document.getElementById("userQuery").value;
        query = query.replace(/\&/g, "%26");
        location.href = base.concat("?query=", query, '&offset=', offset);
      }
    </script>
    <form onsubmit="redirectToQueryUrl(0);" action="javascript:void(0);">
      <p style="text-align: center">
        <input id="userQuery" size="50" value="{{query}}">
        <input type="button" value="Найти" onClick="redirectToQueryUrl(0)">
      </p>
    </form>
    <h3>Результаты по запросу {{query}} ({{total}} документов, {{tim}} cек.)</h3>
    {% for head, id in search_result %}
      <h3> <a target="_blank" href="https://ru.wikipedia.org/wiki?curid={{id}}">{{head}}</a> </h3>
    {% endfor %}
    <p>
      <input type="button" value="<= Туда" onClick="redirectToQueryUrl({{offset - 50}})">
      <input type="button" value="Сюда =>" onClick="redirectToQueryUrl({{offset + 50}})">
    </p>
  </body>
</html>